.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 40px;
}

/*.active {*/
/*  color: red;*/
/*}*/

.active-item {
  color: red;
}

.nav-link {
  text-decoration: none;
  font-size: 25px;
}
