.loader-container{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid blue;
    border-color: blue transparent;
    animation: loader-ring 1.5s linear infinite;
}
@keyframes loader-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
